main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
main section:nth-child(1) {
    margin: 20px;
}
main section:nth-child(1) img {
    border: 2px solid #000;
    border-radius: 5px;
}

@media (max-width: 820px) {
    main section:nth-child(1) img {
        width: 350px;
        height: 350px;
    }
}

main section:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
}

main section:nth-child(2) article:nth-child(1) {
    background-color: rgb(49, 82, 170);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    width: 100%;
}
main section:nth-child(2) article:nth-child(3) {
    background-color: rgb(49, 82, 170);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;
    width: 100%;
}
main section:nth-child(2) article:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #c4c4c4;
    overflow: hidden;
}
main section:nth-child(2) article:nth-child(2) hr {
    border: 1px solid rgb(99, 140, 255);
    width: 100%;
}
main section:nth-child(2) article:nth-child(2) ul {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
}
main section:nth-child(2) article:nth-child(2) li {
    list-style-type: none;
    display: block;
}
main section:nth-child(2) article:nth-child(2) fieldset {
    border: 2px solid rgb(99, 140, 255);
}
