header a {
    color: #000;
    text-decoration: none;
    font-family: Comic Sans MS;
}

header {
    top: 0;
    left: 0;
    background-color: rgb(49, 82, 170);
    box-shadow: 1px 1px 4px rgba(6, 7, 10, 0.438);
    position: fixed;
    width: 100%;
    z-index: 10;
}

header ol {
    list-style-type: none;
    background-color: rgb(49, 82, 170);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header li a {
    padding: 20px;
    display: block;
    border-right: 1px solid rgb(35, 62, 138);
}

header li a:hover {
    background-color: rgb(35, 62, 138);
}

header .menu {
    clear: both;
    max-height: 0px;
}

header .menu-btn:checked~.menu {
    max-height: 300px;
}

header .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg) translateY(-7.4px);
}

header .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg) translateY(6.7px);
}

header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
}

header .menu-btn:checked~.menu-icon .navicon {
    background-color: transparent;
}

header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 30px 20px;
    position: relative;
}

header .menu-icon .navicon {
    background-color: #000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}

header .menu-icon .navicon::before,
header .menu-icon .navicon::after {
    background-color: #000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

header .menu-icon .navicon::before {
    top: 5px;
}

header .menu-icon .navicon::after {
    top: -5px;
}

header .menu-btn {
    display: none;
}

@media (min-width: 820px) {
    header li {
        float: left;
    }

    header .menu {
        float: right;
        clear: none;
        max-height: none;
    }

    header .menu-icon {
        display: none;
    }
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    /*     background-color: green;
 */
    height: 100%;
    min-height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: rgb(49, 82, 170);
    position: relative;
    text-align: center;

    bottom: 0;
    left: -5%;
    width: 110%;
    height: 40px;

    box-shadow: 1px 1px 4px rgba(6, 7, 10, 0.438);

}

main {
    /* border: black 2px solid; */
    width: 68%;
    display: inline-block;
}

aside:nth-child(1) {
    width: 10%;
}

aside:nth-child(3) {
    width: 20%;
}



aside {
    /* border: black 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside div {
    border: black 1px solid;
    border-radius: 10px;
    width: 210px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 680px) {

    aside div {
        width: 90%;
        height: 90%;
    }

    aside div a {
        width: 90%;
        height: 80%;
    }

    aside div a img {
        width: 100%;
        height: 90%;
    }
}

#page {
    /* border: black 2px solid; */
    margin-top: 65px;
    display: flex;
    align-items: center;
}
